body
{
	background: url("bg/dark_emb.png");
	font-family: 'Source Sans Pro', sans-serif;
}
h1
{
	text-align: center;
	font-family: 'Poiret One', cursive;
	font-size: 40pt;
}
h2
{
	text-align: center;
	font-family: 'Poiret One', cursive;
	font-size: 20pt;
}
#main
{
	margin-left: auto;
	margin-right: auto;
	min-height: 100vh;
	width: 80%;
	background-color: white !important;
	padding: 1%;
}
#header
{
	padding: 10px;
	background-color: black;
	color: white;
	text-align: center;
	letter-spacing: 3px;
}
#menu
{
	margin-right: auto;
	margin-left: auto;
}
.menubutton
{
	padding: 3%;
	float: left;
}
#content
{
	padding: 2%;
}
#hello
{
	text-align: center;
}
#footer
{
	text-align: center;
	padding: 1%;
}
a:link
{
	color: black;
	text-decoration: none;
}
}
a:hover
{
	color: black;
	text-decoration: underline;
}
}
a:visited
{
	color: black;
	text-decoration: none;
}
}
a:active
{
	color: black;
	text-decoration: underline;
}